# Python Basics
Data types and print outputs

In [1]:
#Python Basics

# Comments look like this

print ("Hello") # Comments can also go after commands

Hello

In [2]:
# Data types

# Integers
print(2)
print(10)

#Floats, or 'real' numbers
print(10.11)
print(8.0)

#Booleans (true/false)

print(True)
print(False)

#Strings

print("")
print("There's a snake in my boot")
print('True')

2
10
10.11
8.0
True
False

There's a snake in my boot
True

In [3]:
var1 = 'matt'
var2 = "Theo"

print(var1)
var3 = type(var1)
print(var3)

print(var2)
var4 = type(var2)
print(var4)

matt
<class 'str'>
Theo
<class 'str'>

In [3]:
# Variables, defined in Python by the = operator

first_name = "Matt"

# variables can be all datatypes
num1 = 5
num2 = 8.4
print(num1, num2)

#Booleans can be stored into a variable
switch = True
print(switch)

# can check what datatype in a variable with type()
type(switch)

# can store strings in variables
name = 'Matt Belousoff'
fav_number = '2'
print(name, fav_number)

5 8.4
True
Matt Belousoff 2

In [4]:
# can do operations on variables to create new variable
result = num1 + num2
print(result)

13.4

In [5]:
#operations on variables
result += 1 # same as saying result = result + 1
print(result)
result *= num1
print(result)

14.4
72.0

In [6]:
# variables can be overwritten
name = 'Matt'
print(name)
name = 'Sam'
print(name)

Matt
Sam

Exercises

In [7]:
## Exercises

x = 3
y = 10
result = x + y
print("Calculation was:")
print(x," + ",y," = ",result)

# Area calculation
base = 254.54
height = 13.66
area = base * height
print("Area of the rectangle is:",area)

Calculation was:
3  +  10  =  13
Area of the rectangle is: 3477.0164

In [8]:
# String concatenation (adding one string to another)
name = "John" + " " + "Smith"
print(name)

# addition operator with strings
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith
John Smith

In [9]:
# String formatting
# injecting a new variable using format method
name = "John"
print( "Hello {}".format(name) )
print( "Hello {}, you are {} years old!".format(name, 28) )

Hello John
Hello John, you are 28 years old!

In [10]:
# Can also be done like this with fstrings
name = "Matt"
print( f"Hello {name}")

Hello Matt

In [11]:
# String indexing
# using indexes to print each element
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])

# Can also slice
print( word[0:2])

#works like variable_name[start:stop:step]
print( word[0:5:2])

H
e
o
He
Hlo

Exercises

In [12]:
# Exercises
# exercise 1
a = 23
b = 4.5
truth = False
name = "John"
print( f"{a} {b} {truth} {name}")

# exercise 2
name1 = "Matt"
sport = "Brazillian Jiu Jitsu"
programming = "Python"
print( "{}'s favorite sport is {}.".format(name1,sport))
print( "{} is working on {} programming!".format(name1,programming))

23 4.5 False John
Matt's favorite sport is Brazillian Jiu Jitsu.
Matt is working on Python programming!

In [13]:
# String manipulation

# using the title method to capitalize a string
name = "matt belousoff"
print(name.title())

# other things
print(name.lower())
print(name.upper())

Matt Belousoff
matt belousoff
MATT BELOUSOFF

In [14]:
# replacing characters
words = "Hello there!"
print(words.replace("!","."))

Hello there.

In [15]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [16]:
# Removing white spaces with strip
name = "    john     "
print(name)
print(name.strip( ))

    john
john

In [17]:
# converting a string into a list of words
s = "These words are separated by spaces"
print( s.split(" "))

splitted = s.split(" ")
print(splitted)

['These', 'words', 'are', 'separated', 'by', 'spaces']
['These', 'words', 'are', 'separated', 'by', 'spaces']

In [18]:
# Excercises
# 1
string1 = "uppercase"
print(string1.upper())

#2 
string2 = "$$John Smith"
print(string2.lstrip("$"))

UPPERCASE
John Smith

# Weekly project

In [19]:
# Create a product and price for three items
p1_name, p1_price = "Books", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# Create a company name and info
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

#Ending Message
message = "Thanks for shopping with us today!"

# Create a top border
print("*" * 50)
#print company information, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))
#Section break
print("*" * 50)
# print out header section for items
print("\tProduct Name\tProduct Price")
# create a print statement for each product
print("\t{}\t\t${}".format(p1_name.title(),p1_price))
print("\t{}\t\t${}".format(p2_name.title(),p2_price))
print("\t{}\t\t${}".format(p3_name.title(),p3_price))
# section break
print('=' * 50)
#Header for total
print("\t\t\tTotal")
# Calculate things
total = p1_price + p2_price + p3_price
print("\t\t\t${}".format(total))
# section break
print("=" * 50)
# End Section
print("\n\t{}\n".format(message))

**************************************************
		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA
**************************************************
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

In [11]:
# Exercise

string = "Hello"
print(string[4::-1]) #note that start:stop:step, so use negative step

olleH